body {
    background-image: url("/site-bds-metz/site/public/img/logo_dos.png");
    width: 100%;
    flex-direction: column;
    background-size: 100%; /* Ajuste la taille de l'image pour remplir complètement l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed; /* Fixe l'image en position de fond */
    position: fixed;
}

main div {
    margin: 10rem 3rem 12rem 3rem;
    padding: 2rem 2rem 15rem 2rem;
    background-color: white;
    opacity: 60%;
    border: 0.2rem solid rgba(230,173,26,255);
    border-radius: 10px;
    align-items: center;

}

main div h1 {
    text-align: center;

}

main div a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    margin: 2rem 0 0 4rem;


}

#input-error {
    margin: 1rem;
    border: 0.2rem solid #d57778;
    background-color: #d53636;
    color: white;
    border-radius: 10px;
    text-align: center;

}

#input_connexion {
    margin: 5rem 4rem 0 4rem;
    padding: 1rem;
    border: 0.2rem solid rgba(230,173,26,255);
    border-radius: 10px;
    display: grid;
}

#input_connexion input {
    margin-bottom: 1rem;

}

#logo_noir_rouge {
    width: 100%;
    object-fit: cover;
    margin-top: 4rem;
}
