body {
    background-image: url("/img/logo_dos.png");
    width: 100%;
    flex-direction: column;
    background-size: 100%; /* Ajuste la taille de l'image pour remplir complètement l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed; /* Fixe l'image en position de fond */
    position: absolute;
}

#first_div {
    margin: 10rem 3rem 12rem 3rem;
    padding: 2rem 2rem 15rem 2rem;
    background-color: white;
    opacity: 80%;
    border: 0.2rem solid rgba(230,173,26,255);
    border-radius: 10px;
    align-items: center;
    position: relative;
    z-index: 1;
}

#first_div h1 {
    text-align: center;

}

#first_div ul {
    list-style: none;
}