<footer>
    <a href="https://www.instagram.com/bds.cs.metz/" class="custom-cursor">
      <img src="img/new-Instagram-logo-white-glyph.png" alt="logo insta">
    </a>

    <div>
      <h1>
        À propos
      </h1>
      <p>
        L'association BDS CentraleSupélec Metz est super!!!!
      </p>
    </div>
</footer>