body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #980000;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.loader_paragraphe {
    opacity: 70%;
}
.loader_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    position: fixed;
}
.loader1 {
    text-align: center;
}
.logo_noir_blanc {
    width: 6%;
    height: 6%;
    border-radius: 10px;
    float: left;
    cursor: url('cursor/GTA5.cur'), auto;

}
.loader2 {
    text-align: center;
}
.lettre {
    color: #c9c9c9;
    text-shadow: 1px 1px 1px red;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 2.3s linear infinite;
}
.custom-cursor {
    cursor: url('cursor/GTA5.cur'), auto;
}


h1 {
    margin: 0;

}
.no-underline {
    text-decoration: none;
    color: #fff;
    cursor: url('cursor/GTA5.cur'), auto;
}
.all_serach_barre {
    margin-top: 10px;
}
.search-bar {
    height: 20px;

}
.search-button {
}
.image_search_barre {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.image_logo_dos {
    height: 700px;
    width: 100%;
    opacity: 100%;
    background-color: #1f2023;

}

nav {
    background-color: #484848;
    color: #fff;
    width: 100px;
    height: 2000%;
    position: absolute;
}

nav ul {
    list-style: none;
    padding: 0;
    position: fixed;
}

nav li {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

main {
    margin-left: 100px;
    padding: 20px;
    background-color: #1f2023;
}

section {
    margin-bottom: 20px;
}

section h2 {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    width: 30%;
}
section h3 {
    color: white;
    margin: 10px;
}

section p {
    color: white;
    margin: 0;
}
