<%- include('includes/head', {Title : 'Admin page'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <div>
            <h1>
                This is the admin page
            </h1>
        </div>
    </main>
    <%- include('include/footer')%>
</body>