<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'Accueil</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/Sports.css">
</head>
<body>
  <header id="redhead">
    <a href="/" class="custom-cursor"><img id="logo_noir_blanc" src="img/noir_et_blanc-1.png" alt="logo BDS" >
    </a>
      <ul>
        <li>
          <a href="/Team" class="custom-cursor">Team</a>
        </li>
        <li>
          <a href="/Contact" class="custom-cursor">Contact</a>
        </li>
      </ul>
  </header>
  <main>
    <ul>
      <li>
      <h1>
        Foot
      </h1>
      <p>
      </p>
      </li>
      <li>
        <h1>
          Volley
        </h1>
        <p>
        </p>
      </li>
      <li>
        <h1>
          Rugby
        </h1>
        <p>
        </p>
      </li>
      <li>
        <h1>
          Badminton
        </h1>
        <p>

        </p>
      </li>
      <li>
        <h1>
          Boxe
        </h1>
        <p>

        </p>
      </li>
      <li>
        <h1>
          Boxe
        </h1>
        <p>

        </p>
      </li>
      <li>
        <h1>
          Musculation
        </h1>
        <p>

        </p>
      </li>
      <li>
        <h1>
          Escalade
        </h1>
        <p>

        </p>
      </li>
    </ul>
  </main>
  <footer>
    <a href="https://www.instagram.com/bds.cs.metz/" class="custom-cursor">
      <img src="img/new-Instagram-logo-white-glyph.png" alt="logo insta">
    </a>

    <div>
      <h1>
        À propos
      </h1>
      <p>
        L'association BDS CentraleSupélec Metz est super!!!!
      </p>
    </div>
  </footer>
</body>
</html>

</body>
</html>